body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', '微软雅黑', SimSun, sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}
.clear {
  clear: both;
  height: 1px;
  width: 100%;
}
nav {
  background-color: #1b2f56;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  margin-bottom: 55px;
}
nav .nav-logo {
  float: left;
}
nav .nav-menu-box {
  float: left;
}
nav .nav-menu-box ul li {
  float: left;
  padding: 0 20px;
}
nav .nav-menu-box ul li a {
  color: #fff;
}
nav .nav-menu-box ul li a:hover {
  text-decoration: none;
}
nav .nav-menu-box ul li:hover {
  background-color: #162645;
}
nav .nav-avatar-box {
  float: left;
  position: relative;
}
nav .nav-avatar-box .exit-box {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  color: #1b2f56;
  display: none;
}
nav .nav-avatar-box:hover .exit-box {
  display: block;
}
.white-content {
  background-color: #fff;
}
.gray-box {
  background-color: #f5f5f5;
}
.process-bar {
  position: relative;
  padding-left: 55px!important;
}
.box-200 {
  width: 200px;
  height: 200px;
}
.space-4 {
  margin: 20px 0;
}
.text-140 {
  width: 140px;
}
.text-50 {
  width: 50px;
}
footer {
  background-color: #fff;
  padding: 45px 0;
  margin-top: 80px;
}
.process-bar:before,
.process-bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 47%;
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: #d9e1e6;
}
.process-bar:after {
  width: 38px;
  background-color: #4682f2;
}
.container {
  width: 1160px;
}
.clear {
  clear: both;
}
