.status-bar {
  margin-top: 58px;
  margin-bottom: 58px;
}
.status-bar ul {
  overflow: hidden;
  margin: 0 auto;
}
.status-bar ul li {
  float: left;
  width: 56px;
  height: 53px;
  color: #aaa;
  margin: 0 35px;
  position: relative;
}
.status-bar ul li span {
  position: relative;
  padding-top: 37px;
  display: block;
}
.status-bar ul li span:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #aaa;
  left: 14px;
  top: 0;
}
.status-bar ul li:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #e7e7e7;
  width: 60px;
  right: -60px;
  top: 13px;
}
.status-bar ul li:nth-last-child(1):after {
  position: relative;
}
.status-bar ul li.active {
  color: #25579c;
}
.status-bar-edit {
  width: 800px;
  margin: 58px auto;
}
.status-bar-edit ul {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}
.status-bar-edit ul li {
  float: left;
  width: 25%;
  height: 53px;
  color: #aaa;
  margin: 0;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.status-bar-edit ul li span {
  position: relative;
  display: block;
  line-height: 53px;
}
.status-bar-edit ul li.active {
  background-color: #25579c;
  color: #fff;
}
section .radio {
  width: 150px;
  float: left;
  margin: 0 10px;
}
section .radio:nth-last-child(3) {
  margin-left: 0;
}
section .age .checkbox {
  margin-top: 0;
  width: 150px;
  float: left;
  margin: 0 10px 10px 0;
}
section .result {
  margin-top: 10px;
}
section .result span {
  display: block;
  color: #25579c;
  font-size: 32px;
  background-color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.nav-tabs {
  border: 0;
}
.nav-tabs > li > a {
  border: 0;
  padding: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  background-color: transparent;
  border: 0;
}
.nav-tabs > li.active > a input[type="radio"],
.nav-tabs > li.active > a:hover input[type="radio"],
.nav-tabs > li.active > a:focus input[type="radio"] {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #25579c;
}
#car-box {
  background-color: #fff;
  box-shadow: 2px 2px 3px #d6d6d6;
  margin: 0 15px;
  padding: 20px;
}
#car-box footer {
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px 0 0 0;
}
.selected {
  margin-left: 25px;
}
.selected .checkbox {
  width: 150px;
}
#category {
  box-shadow: 2px 2px 3px #d6d6d6;
  background-color: #fff;
  padding: 0;
}
#category ul li {
  line-height: 32px;
  color: #25579c;
  padding-left: 15px;
}
#category ul li:hover {
  background-color: #25579c;
  color: #fff;
}
.face-area {
  margin-top: 230px;
  width: 382px;
  height: 562px;
  background-image: url('../images/head.png');
  padding: 100px 30px 0 30px;
}
.face-area span {
  font-size: 44px;
  color: #25579c;
  display: inline-block;
  margin: 20px 10px 8px 4px;
}
footer {
  background-color: #fff;
  padding: 45px 0;
  margin-top: 80px;
}
