.select-project {
  line-height: 36px;
  font-size: 16px;
  color: #95a1b2;
}
.select-project .bootstrap-select.btn-group .dropdown-menu {
  min-width: 96%;
  left: 14px;
}
.tab-content {
  margin-bottom: 40px;
}
.tab-box {
  background-color: #fff;
  margin-top: 40px;
  overflow: hidden;
}
.tab-box .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.tab-box .nav-tabs .col-xs-6 {
  padding: 0;
}
.tab-box .nav-tabs li a {
  font-size: 24px;
  font-weight: bolder;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 4px solid transparent;
  color: #aaa;
  line-height: 67px;
}
.tab-box .nav-tabs li a:hover {
  background-color: transparent;
}
.tab-box .nav-tabs li.active a {
  color: #333;
  border-bottom: 4px solid #25579c;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: #fff;
}
.tab-box .filter-box {
  height: 132px;
  border-bottom: 1px solid #ddd;
  line-height: 131px;
}
.tab-box .filter-box span {
  margin: 0 30px;
  padding: 5px 0;
  cursor: pointer;
}
.tab-box .filter-box span:nth-child(1) {
  margin-left: 0;
}
.tab-box .filter-box span.active {
  border-bottom: 2px solid #1b2f56;
}
.tab-box .tab-pane {
  padding: 0 50px 50px;
  overflow: hidden;
}
.tab-box .chart-box {
  height: 500px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.tab-box .chart-box button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.tab-box .custom-box {
  margin-top: 50px;
  overflow: hidden;
}
.tab-box .custom-box .option-box {
  float: left;
  width: 945px;
  background-color: #f5f5f5;
  overflow: hidden;
  padding-top: 5px;
}
.tab-box .custom-box .option-box .col {
  height: 100px;
  width: 105px;
  text-align: center;
  line-height: 105px;
  float: left;
}
.tab-box .custom-box .option-box .col-xs-2 {
  width: 150px;
  padding: 0;
  margin: 0 5px;
}
.tab-box button {
  float: right;
}
.tab-box #basic-info {
  overflow: hidden;
}
.tab-box #basic-info .img-brand-logo {
  border: 2px dashed #999;
}
#crowd-info .filter-box {
  background-color: #f5f5f5;
  border: 0;
  margin-top: 40px;
  padding-top: 1px;
}
#crowd-info .filter-box .sub-row {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  margin: 20px 30px;
}
#crowd-info .filter-box .sub-row label {
  float: left;
  margin-right: 40px;
}
#crowd-info .filter-box .sub-row .rain-layer {
  width: 150px;
  margin-right: 20px;
  float: left;
}
#crowd-info .filter-box .sub-row .rain-layer label {
  margin-right: 0;
}
#crowd-info .chart-box:nth-child(2) {
  height: 600px;
  margin-top: 60px;
}
#crowd-info .chart-box {
  height: 300px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
}
#interest-info .chart-box {
  background-color: #f5f5f5;
  border: 1px solid #fff;
}
#interest-info .chart-box:nth-child(1) {
  height: 430px;
  margin-top: 40px;
}
#interest-info .filter-box {
  background-color: #f5f5f5;
  border: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 1px;
}
#interest-info .filter-box .sub-row {
  overflow: hidden;
  line-height: 40px;
  margin: 20px 30px;
}
#interest-info .filter-box .sub-row label {
  float: left;
  margin-right: 40px;
  height: 100px;
}
#interest-info .filter-box .sub-row .rain-layer {
  width: 150px;
  margin-right: 20px;
  float: left;
  margin-bottom: 20px;
}
#interest-info .filter-box .sub-row .rain-layer label {
  margin-right: 0;
}
.over-all {
  padding: 60px 0;
  border-bottom: 1px solid #ddd;
}
.over-all .col-xs-4 span {
  font-size: 72px;
  font-weight: bold;
  color: #25579c;
}
.over-all .col-xs-4 p {
  font-size: 24px;
}
.cost-box {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cost-box .col-xs-6 {
  min-height: 410px;
}
.cost-box .col-xs-6 header span {
  color: #25579c;
  font-size: 24px;
  font-weight: bolder;
}
.cost-box .col-xs-6:nth-child(1) {
  border-right: 1px solid #ddd;
}
.cost-box .col-xs-6:nth-child(2) {
  padding-left: 70px;
}
table {
  width: 1040px;
}
table th {
  text-align: left;
  padding-left: 20px;
}
table tr {
  height: 75px;
}
table tr td {
  padding-left: 20px;
}
table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
table .process-bar:before,
table .process-bar:after {
  left: 30px;
}
#crowd-management th {
  text-align: left;
  padding-left: 20px;
}
#crowd-management tbody tr {
  height: 50px;
}
#crowd-management tbody tr td:nth-child(5) {
  color: #25579c;
  cursor: pointer;
}
#crowd-management tbody tr td:nth-child(5).actived {
  color: #95a1b2;
}
#mediaReport th {
  padding-left: 20px;
  text-align: right;
}
#mediaReport th:nth-last-child(1) {
  text-align: left;
}
.data-area {
  margin-top: 40px;
  background-color: #fff;
  padding: 30px 50px;
}
.data-area h3 span {
  font-size: 14px;
  color: #95a1b2;
}
.data-area .chart {
  background-color: #f5f5f5;
}
.data-area .chart-box {
  margin-bottom: 60px;
}
.data-area .interest {
  height: 600px;
  border-right: 1px solid #fff;
}
.data-area .gender,
.data-area .age {
  height: 300px;
  border-left: 1px solid #fff;
}
.data-area .gender {
  border-bottom: 1px solid #fff;
}
.data-area .age {
  border-top: 1px solid #fff;
}
.btn-new-adviser {
  margin-top: 20px;
}
.slider-box {
  width: 100%;
  background-color: #fff;
}
.slider-box .carousel {
  margin-top: 40px;
  margin-bottom: 80px;
}
.slider-box .carousel .carousel-inner {
  width: 700px;
  margin: 40px auto;
}
.slider-box .carousel .carousel-inner .item {
  padding-bottom: 40px;
}
.slider-box .carousel .carousel-inner .item .carousel-caption {
  display: block;
  position: initial;
  text-shadow: none;
  color: #333;
  padding-top: 50px;
  padding-bottom: 25px;
}
.slider-box .carousel .carousel-inner .item .carousel-caption span {
  color: #95a1b2;
}
.slider-box .carousel .carousel-inner .item .carousel-content {
  padding: 40px;
  border: 1px solid #eee;
}
.slider-box .carousel .carousel-inner .item .carousel-content figure {
  float: left;
  width: 78px;
  height: 78px;
  margin-right: 19px;
  margin-bottom: 40px;
}
.slider-box .carousel .carousel-inner .item .carousel-content figure img {
  width: 100%;
}
.slider-box .carousel .carousel-inner .item .carousel-content h3 {
  padding-top: 20px;
  margin: 0;
}
.slider-box .carousel .carousel-control.left,
.slider-box .carousel .carousel-control.right {
  background: none;
}
.slider-box .carousel .carousel-control {
  width: 8.5%;
}
.slider-box .carousel .carousel-control i {
  font-size: 80px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #eee;
  margin-top: 180px;
}
.slider-box .carousel .carousel-control i.available {
  background-color: #25579c;
}
footer {
  width: 100%;
  background-color: #f5f5f5;
}
