<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="../resources/css/global.min.css">
    <link rel="stylesheet" href="../resources/css/rain_form.min.css">
    <link rel="stylesheet" href="../resources/css/404.min.css">
    <title>项目列表</title>
</head>

<body>
	
	<div class="content">
		<div class="container">
			<div class="btn-404">
				
			</div>
			<div class="message text-center">抱歉，您所要访问的页面不存在。</div>
			<div class="text-center">
				<button href="" class="btn-cancel">返回上级页面</button>
				<button href="" class="btn-action">返回首页</button>
			</div>
		</div>
	</div>

</body>
</html>