<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="../resources/css/global.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../resources/css/report.min.css">
    <link rel="stylesheet" href="../resources/css/rain_form.min.css">
    <title>项目列表</title>
</head>

<body>
    <nav>
        <div class="container">
            <a class="nav-logo" href="#"><img src="../resources/images/icon_logo.png"></a>
            <div class="nav-avatar-box pull-right">
                <span>lufugang@domob.cn</span>
                <i class="fa fa-angle-down"></i>
                <div class="exit-box">退出</div>
            </div>
            <div class="nav-menu-box pull-right">
                <ul>
                    <li><a href="#">Dashborad</a></li>
                    <li><a href="#">项目管理</a></li>
                    <li><a href="#">数据报表</a></li>
                    <li><a href="#">人群管理</a></li>
                    <li><a href="#">广告主管理</a></li>
                    <li><a href="#">媒体管理</a></li>
                    <li><a href="#">素材管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container">
            <div class="row select-project">
                <div class="col-xs-1">选择项目</div>
                <select class="selectpicker col-xs-11" data-style="btn-rain-layer" data-live-search="true">
                    <option>奥迪五月投放（共9个创意）</option>
                    <option>奥迪</option>
                    <option>奥迪</option>
                </select>
                </div>
                <div class="slider-box">
                    <div id="ideaCarousel" class="carousel slide" data-ride="carousel">
                        
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <span>创意名称：</span>全球使者暑期推广信息流创意
                                </div>
                                <div class="carousel-content">
                                    <div class="app-info">
                                        <figure>
                                            <img src="../resources/images/media_app_03.png">
                                        </figure>
                                        <h3>全球使命</h3>
                                        <p>具人气的国产第三方游戏</p>
                                    </div>
                                    <img src="../resources/images/example-idea.jpg">    
                                </div>
                                
                                
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <span>创意名称：</span>全球使者暑期推广信息流创意
                                </div>
                                <div class="carousel-content">
                                    <div class="app-info">
                                        <figure>
                                            <img src="../resources/images/media_app_03.png">
                                        </figure>
                                        <h3>全球使命</h3>
                                        <p>具人气的国产第三方游戏</p>
                                    </div>
                                    <img src="../resources/images/example-idea.jpg">    
                                </div>
                                
                                
                            </div>
                            
                            
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#ideaCarousel" role="button" data-slide="prev">
                            <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span> -->
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#ideaCarousel" role="button" data-slide="next">
                            <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span> -->
                            <i class="fa fa-angle-right available"></i>
                        </a>
                    </div>    
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    $('.selectpicker').selectpicker();
    </script>
</body>

</html>
