<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="../resources/css/global.min.css">
    <link rel="stylesheet" href="../resources/css/rain_form.min.css">
    <link rel="stylesheet" href="../resources/css/newcrowd.min.css">
    <title>项目列表</title>
</head>

<body>
    <nav>
        <div class="container">
            <a class="nav-logo" href="#"><img src="../resources/images/icon_logo.png"></a>
            <div class="nav-avatar-box pull-right">
                <span>lufugang@domob.cn</span>
                <i class="fa fa-angle-down"></i>
                <div class="exit-box">退出</div>
            </div>
            <div class="nav-menu-box pull-right">
                <ul>
                    <li><a href="#">Dashborad</a></li>
                    <li><a href="#">项目管理</a></li>
                    <li><a href="#">数据报表</a></li>
                    <li><a href="#">人群管理</a></li>
                    <li><a href="#">广告主管理</a></li>
                    <li><a href="#">媒体管理</a></li>
                    <li><a href="#">素材管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ol class="breadcrumb container">
        <li><a href="index.html">项目管理</a></li>
        <li class="active"><a href="new_crowd.html">新建项目</a></li>
    </ol>
    <div class="gray-box">
    	<div class="message">
    		
    		<img src="../resources/images/icon_success.png">
    		<div>
    			<b>项目新建完成！</b>
    			<span>以下创意创建失败：<br>百度贴吧信息流</span>	
    		</div>
    		
    	</div>

    </div>
    <nav class="nav">
			  <ul class="pagination">
			    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">6 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">7 <span class="sr-only">(current)</span></a></li>
			    
			  </ul>
			  <ul class="pagination">
			  	<li class="previous"><a href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>上一页 </a></li>
			    <li class="next disable"><a href="#">下一页<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> </a></li>
			  </ul>
			</nav>
    <footer class="text-center">
    	<button class="btn-cancel">查看详情</button>
    	<button class="btn-action">返回项目列表</button>
    </footer>
</body>

</html>
