@import "variables.less";
.status-bar {
    margin-top: 58px;
    margin-bottom: 58px;
    ul {
        overflow: hidden;
        margin: 0 auto;
        li {
            float: left;
            width: 56px;
            height: 53px;
            color: #aaa;
            margin: 0 35px;
            position: relative;
            span {
                position: relative;
                padding-top: 37px;
                display: block;
            }
            span:before {
                content: "";
                position: absolute;
                width: 28px;
                height: 28px;
                border-radius: 14px;
                border: 1px solid #aaa;
                left: 14px;
                top: 0;
            }
        }
        li:after {
            content: "";
            position: absolute;
            height: 2px;
            background-color: #e7e7e7;
            width: 60px;
            right: -60px;
            top: 13px;
        }
        li:nth-last-child(1):after {
            position: relative;
        }
        li.active {
            color: #25579c;
            span:before{ border: 1px solid #25579c;}
            span:after{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #25579c;
                top: 4px;
                left: 18px;
            }
        }
        li.done{
            span:before{
                background-color: #1ca933;
            }
            span:after{
                content: "";
                position: absolute;
                width: 10px;
                height: 19px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: #fff;
                transform: rotate(45deg);
                left: 24px;
                top: 0;
            }
        }

    }
}
.status-bar-edit{
    width: 800px;
    margin: 58px auto;
    ul {
        overflow: hidden;
        margin: 0 auto;
        border-radius: 5px;
        li {
            float: left;
            width: 25%;
            height: 53px;
            color: #aaa;
            margin: 0;
            background-color: #fff;
            position: relative;
            text-align: center;
            span {
                position: relative;
                display: block;
                line-height: 53px;
            }
        }
        li.active{
        	background-color: #25579c;
        	color: #fff;
        }
    }
}

section {
    // .radio {
        
    // }
    // .radio:nth-last-child(3) {
    //     margin-left: 0;
    // }
    .age {
        .checkbox {
            margin-top: 0;
            width: 150px;
            float: left;
            margin: 0 10px 10px 0;
        }
    }
    .result {
        margin-top: 10px;
        span {
            display: block;
            color: #25579c;
            font-size: 32px;
            background-color: #fff;
            padding: 10px 20px;
            text-align: center;
        }
    }
}

.nav-tabs {
    border: 0;
    .rain-layer{
        width: 150px;
        float: left;
        margin: 0 10px;
    }
    .rain-layer:first-child{
        margin-left: 0;
    }
}

.nav-tabs > li > a {
    border: 0;
    padding: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: inherit;
    background-color: transparent;
    border: 0;
    // input[type="radio"] {
    //     width: 14px;
    //     height: 14px;
    //     border-radius: 7px;
    //     background-color: #25579c;
    // }
}

#car-box {
    background-color: #fff;
    box-shadow: 2px 2px 3px #d6d6d6;
    margin: 0 15px;
    padding: 20px;
    footer {
        border-top: 1px solid #e7e7e7;
        overflow: hidden;
        margin-top: 20px;
        padding: 20px 0 0 0;
    }
}

.subSelected {
    margin-left: 25px;
    .checkbox {
        width: 150px;
    }
}

#category {
    box-shadow: 2px 2px 3px #d6d6d6;
    background-color: #fff;
    padding: 0;
    ul li {
        line-height: 32px;
        color: #25579c;
        padding-left: 15px;
    }
    ul li:hover {
        background-color: #25579c;
        color: #fff;
    }
}

.face-area {
    margin-top: 230px;
    width: 382px;
    height: 562px;
    background-image: url('../images/head.png');
    padding: 100px 30px 0 30px;
    span {
        font-size: 44px;
        color: #25579c;
        display: inline-block;
        //padding: 20px;
        margin: 20px 10px 8px 4px;
    }
}


.media-managment-box,
.media-box{
    .container{
        overflow-y: hidden;
        overflow-x: scroll;
    }
}

.media-managment-box,
.media-box{
    background-color: #fff;
    height: 300px;
    padding-top: 80px;
    position: relative;    
    li{
        width: 160px;
        a{ padding:20px 20px 15px 20px;}
        figure{
            width: 102px;
            margin:0 auto 20px auto;
            img{width: 100%;}
            figcaption{
                margin-top: 20px;
                color: #999;
                text-align: center;
            }
        }
        span{
            height: 24px;
            line-height: 24px;
            border-radius: 12px;
            padding: 0 10px;
            background-color: #aaa;
            color: #fff;
            text-align: center;
            display: block;
            font-size: 12px;
        }
        span.select{
            background-color: #25579c;
        }
    }
    li.active{
        a{ background-color: #f5f5f5;}
    }
    .arrow{
        width: 100px;
        height: 100px;
        background-color: #ccc;
        position: absolute;
        top: 100px;
        text-align: center;
        line-height: 116px;
        i{color: #fff;}
    }
    .arrow.available{background-color: #25579c;}
    .pull-left{left: 0;}
    .pull-right{right: 0;}
}
.media-managment-box{
    padding-top: 25px;
}
.tab-pane{
    overflow: hidden;
    width: 100%;
    margin-top: 60px;
    h2 .rain{display: inline-block;}
    table{
        margin-top: 40px;
        thead{
            tr{
                th{font-weight: bold;}
                th:nth-child(1){width: 64px;}
                th:nth-child(2),
                th:nth-child(3),
                th:nth-child(4),
                th:nth-child(6){width: 110px;}
                th:nth-child(5){width: 210px;}
            }
        }
        tbody{
            tr{
                td{
                    .checkbox-s{
                        width: 16px;
                        height: 16px;
                        margin: 0 auto;
                    }
                }
            }
            tr:nth-child(odd){background-color: #eeeeee;}
            tr:hover{background-color: #536175; color: #fff;}
        }
        //td:nth-child(5){width: 210px;}
    }
}
.basic-info{
    .rain{
        .rain-layer{margin-right: 10px;}
        .radio{
            margin: 0 10px;
            color: #25579c;
        }
        label{color: #333;}
    }

}
.creative-material{
    background-color: #fff;
    padding: 20px 0;
    h2{
        background-color: #f5f5f5;
        padding: 10px;
        line-height: 47px;
        //height: 63px
        figure{
            width: 44px;
            float: left;
            margin-right: 15px;
            img{width: 100%;}
        }
    }
    h4{
        padding: 10px 0;
        border-bottom: 1px solid #f5f5f5;
    }
    figure{
        float: left;
        margin-right: 10px;
    }
}

.modal{
    .modal-header{
        h4 span{
            font-size: 14px;
            color: #95a1b2;
        }
        .close{color: #25579c;}
    }
    .modal-body{
        background-color: #f5f5f5;
        height: 350px;
        overflow-y: scroll;
        .icon-box{
            width: 200px;
            height: 200px;
        }
        .img-box{
            width: 360px;
            height: 360px;
        }
    }
    .modal-footer{
        text-align: center;
    }
}
.setting-box{
    overflow: hidden;
}
.option-box{
    overflow: hidden;
    
    table{
        .checkbox{
            box-shadow: none;
        }
        th,td{border: 1px solid #f5f5f5;}
    }
    .fa-mobile{ font-size: 18px;}
    i + b{margin-left: 10px;}
    //.fa-mobile + b{ font-size: 12px;}
    .inline-checkbox{
        .checkbox{
            width: 17%;
            margin-right: 10px;
            margin-top: 0;
        }
    }
}
#citySetting{
    .col-xs-8{border-right: 1px solid #dadada;}
    .provice-box{
        .checkbox{
        box-shadow: none;
        margin:0;
        border: 1px solid #dadada;
        width: 50%;
        clear: both;
        border-top: 1px solid transparent;
        label{text-align: left;}
        }
        .checkbox:first-child{border-top: 1px solid #dadada;}
        .collapse{
            padding-left: 20px;
            .checkbox{
                width: 30%;
                clear: none;
                float: left;
            }
            .checkbox:first-child{border-top: 1px solid transparent;}
        }    
    }
    .collapsing{display: none;}
    .container-fluid{position: relative;}
    #express-box{
        position: absolute;
        top: 24px;
        right: 60px;
        width: 92px;
        span{
            font-size: 12px;
            color: #25579c;
        }
        .collapse{
            margin-top: 9px;
            background-color: #fff;
            padding: 10px 0;
            border:1px solid #dadada;
            li{
                color: #25579c;
                line-height: 32px;
                padding: 0 10px;
            }
            li:hover{
                background-color: #25579c;
                color: #fff;
            }
        }
    }
    span{
        span.pull-right{color: @brand-primary;}
    }
    .selected-city-list{
        .checkbox{
            width: 100%;
            i{cursor: pointer;}
        }
    }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > li {
  float:left;
  width:100%;
  position: relative;
}