@import 'variables.less';
.select-project {
    line-height: 36px;
    font-size: 16px;
    color: #95a1b2;

    .bootstrap-select.btn-group .dropdown-menu{
        min-width: 96%;
        left: 14px;
    }
}

.tab-content {
    margin-bottom: 40px;
}

.tab-box {
    background-color: #fff;
    margin-top: 40px;
    overflow: hidden;
    .nav-tabs {
        border-bottom: 1px solid #ddd;
        .col-xs-6 {
            padding: 0;
        }
        li a {
            font-size: 24px;
            font-weight: bolder;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 4px solid transparent;
            color: #aaa;
            line-height: 67px;
        }
        li a:hover {
            background-color: transparent;
        }
        li.active a {
            color: #333;
            border-bottom: 4px solid #25579c;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            background-color: #fff;
        }
    }
    .filter-box {
        height: 132px;
        border-bottom: 1px solid #ddd;
        line-height: 131px;
        //margin: 0 50px;
        span {
            margin: 0 30px;
            padding: 5px 0;
            cursor: pointer;
        }
        span:nth-child(1) {
            margin-left: 0;
        }
        span.active {
            border-bottom: 2px solid #1b2f56;
        }
    }
    .tab-pane {
        padding: 0 50px 50px;
        overflow: hidden;
    }
    .chart-box {
        height: 500px;
        //margin: 0 50px;
        border-bottom: 1px solid #ddd;
        position: relative;
        button {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .custom-box {
        margin-top: 50px;
        // padding: 0 50px;
        overflow: hidden;
        .option-box {
            float: left;
            width: 945px;
            background-color: #f5f5f5;
            overflow: hidden;
            padding-top: 5px;
            .col {
                height: 100px;
                width: 105px;
                text-align: center;
                line-height: 105px;
                float: left;
            }
            .col-xs-2{
                width: 150px;
                padding: 0;
                margin: 0 5px;
            }
        }
    }
    button {
        float: right;
    }
    #basic-info {
        overflow: hidden;
        .img-brand-logo {
            border: 2px dashed #999;
        }
    }
}
#crowd-info{
    .filter-box{
        background-color: #f5f5f5;
        border: 0;
        margin-top: 40px;
        padding-top: 1px;
        .sub-row{
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            margin: 20px 30px;
            label{float: left; margin-right: 40px;}
            .rain-layer{
                width: 150px; 
                margin-right: 20px; 
                float: left;
                label{margin-right: 0;}
            }
        }
    }
    .chart-box:nth-child(2){height: 600px; margin-top: 60px;}
    .chart-box{height: 300px; background-color: #f5f5f5; border: 1px solid #fff;}
}
#interest-info{
    .chart-box{background-color: #f5f5f5; border: 1px solid #fff;}
    .chart-box:nth-child(1){height: 430px; margin-top: 40px;}
    .filter-box{
        background-color: #f5f5f5;
        border: 0;
        margin-top: 40px;
        margin-bottom: 20px;
        padding-top: 1px;
        .sub-row{
            overflow: hidden;
            line-height: 40px;
            margin: 20px 30px;
            label{float: left; margin-right: 40px; height: 100px;}
            .rain-layer{width: 150px; margin-right: 20px; float: left;margin-bottom: 20px;
                label{margin-right: 0;}
            }
        }
    }
}
.over-all {
    padding: 60px 0;
    border-bottom: 1px solid #ddd;
    .col-xs-4 {
        span {
            font-size: 72px;
            font-weight: bold;
            color: @brand-primary;
        }
        p {
            font-size: 24px;
        }
    }
}

.cost-box {
    margin-top: 40px;
    margin-bottom: 40px;
    .col-xs-6 {
        min-height: 410px;
        header {
            span {
                color: @brand-primary;
                font-size: 24px;
                font-weight: bolder;
            }
        }
    }
    .col-xs-6:nth-child(1) {
        border-right: 1px solid #ddd;
    }
    .col-xs-6:nth-child(2) {
        padding-left: 70px;
    }
}

table {
    //margin: 0 50px;
    width: 1040px;
    th {
        text-align: left;
        padding-left: 20px;
    }
    tr {
        height: 75px;
        td{padding-left: 20px;}
    }
    tbody tr:nth-child(odd) {
        background-color: #fafafa;
    }
    .process-bar:before,
    .process-bar:after {
        left: 30px;
    }
}

#crowd-management {
    th {
        text-align: left;
        padding-left: 20px;
    }
    tbody {
        tr {
            height: 50px;
            td:nth-child(5) {
                color: @brand-primary;
                cursor: pointer;
            }
            td:nth-child(5).actived {
                color: #95a1b2;
            }
        }
    }
}
#mediaReport{
    th{
        padding-left: 20px;
        text-align: right;
    }
    th:nth-last-child(1){text-align: left;}
}

.data-area {
    margin-top: 40px;
    background-color: #fff;
    padding: 30px 50px;
    h3 {
        span {
            font-size: 14px;
            color: #95a1b2;
        }
    }
    .chart {
        background-color: #f5f5f5;
    }
    .chart-box{margin-bottom: 60px;}
    .interest {
        height: 600px;
        border-right: 1px solid #fff;
    }
    .gender,
    .age {
        height: 300px;
        border-left: 1px solid #fff;
    }
    .gender {
        border-bottom: 1px solid #fff;
    }
    .age {
        border-top: 1px solid #fff;
    }
}

.btn-new-adviser {
    margin-top: 20px;
}

.carousel {
    margin-top: 40px;
    .carousel-inner {
        width: 700px;
        margin: 40px auto;
        .item{

            .carousel-caption{
                border-bottom: 1px solid #eee;
                display: block;
                position: initial;
                span{color: #95a1b2;}
            }    
        }
        
    }
}
footer{
    width: 100%;
    background-color: #f5f5f5;
}